mixin storeCard(store = {})
    .store
        .store__hero
            .store__actions
                .store__action.score__action--edit
                    a(href=`/stores/${store._id}/edit`)
                        // svg in helper.js function
                        // != means write html
                        != h.icon('pencil')

            img(src=`/uploads/${store.photo || 'store.png'}`)
            h2.title
                a(href=`/store/${store.slug}`) #{store.name}
        .store__details
            // split and splice so desc cant be to long then join 
            p= store.description.split(' ').slice(0, 25).join(' ') 